@using Umbr2.Site.Controllers;
@using Umbr2.Site.Services;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="text-center mt-5">
    <h1 class="text-success">Welcome! @CustomerMemberService.Customer.LastName @CustomerMemberService.Customer.FirstName</h1>
</div>
@* table-responsive *@
<div class="container d-flex align-items-center justify-content-center">

<div class="col-lg-9 m-5">
    <table class="table table-success table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>First Name</td>
                <td>@CustomerMemberService.Customer.FirstName</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Last Name</td>
                <td>@CustomerMemberService.Customer.LastName</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Mobile</td>
                <td>@CustomerMemberService.Customer.Mobile</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Is Email Confirmed?</td>
                @if (@CustomerMemberService.Customer.EmailConfirm == 0)
                {
                    <td>No</td>
                }
                else
                {
                    <td>Yes</td>
                }

            </tr>
        </tbody>
    </table>
    @using (Html.BeginUmbracoForm<WSDLServiceController>("HandleLogout"))
    {
            <div class="d-grid col-2 mx-auto mt-4">
                <button type="submit" class="btn btn-outline-secondary">Logout</button>
        </div>
    }
</div>
</div>